<%- include('partials/header'); -%>
<body>
        <div class="box" id ="heading">
            <h1 style="color: purple;"><%= listTitle %></h1>
        </div>
     
        
    <div class="box">  
        <div class="item">
            <form action="/" method="post">
                <input type="text" name="item"  placeholder="Add a new task">
                <button type="submit" name="title" value=<%= listTitle %> >+</button>
            </form>
        </div>
            <% items.forEach(function(item){ %>
                
                    <form action="/delete" method="post"> 
                        <div id="formName" class="item" >
                            <input type="checkbox" name ="checkbox" value="<%= item._id %>" onchange="this.form.submit()" />
                            <p><%= item.value %></p>
                        </div>
                            <input type="hidden" id="listTitle" name="listTitle" value="<%= listTitle %>">
                    </form>
                     
                
            <% }); %>
    </div>
    <%- include('partials/footer') -%>
    
